nav{
    height: 80px !important;
}
#div-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
}
a{
    text-decoration: none;
}
.flowers{
    cursor: pointer;
    background-color: rgb(211,211,211);
}
.flowers:hover{
    background-color:rgb(218,112,214);
}
.flowers.active{
    background-color:rgb(218,112,214) !important;  
}
#banner{
    background-image: url('../img/banner.jpg');
    opacity: 0.8;
    background-size: cover;
    height: 400px;
    margin-bottom: 30px;
}
.text-product{
    font-size: 18pt;
}
.btn-buy{
    background-color:rgb(218,112,214);
    color: white;
    font-weight: bold;
}
.btn-buy:hover{
    color: white;
}
/* #cart{
    margin-left: 620px;
} */
